fastapi
starlette
uvicorn[standard]
httpx
websockets
sse-starlette
simple-websocket
flask-socketio
gevent
gevent-websocket
libarchive-c>=5.1
requests
libarchive
aiofiles>=23.0.0
watchdog
git-python
pyright
python-multipart
markdown2
pygments
docutils
python-fasthtml